<head>
	<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
</head>

<style>

h1 {
	color: rgba(204, 0, 0, .8);
	font-family: 'Lobster Two', cursive;
	font-size: 36px;
}

h2, h3, h4 {
	font-family: 'Cabin', sans-serif;
}


</style>


<h1>PinterestingBru!</h1>

<h2>Private</h2>
<% @boards_private.each do |board| %>
	<h4><%=board.name%></h4>
		<%=link_to 'Show', user_board_path(current_user,board.id) %>
		<%=link_to 'Edit', edit_user_board_path(current_user, board.id)%>
		<%=link_to 'Delete', user_board_path(current_user,board.id), method: :delete, data: {confirm:"Are you sure?"} %> </br>
	<%end%>


<h2>Public</h2>
<% @boards_public.each do |board| %>
	<h3><%=link_to board.name, user_board_path(current_user,board.id) %></h3>

	<%if @users.find(board.user_id)==current_user%>
		<%=link_to 'Edit', edit_user_board_path(current_user, board.id)%>
		<%=link_to 'Delete', user_board_path(current_user,board.id), method: :delete, data: {confirm:"Are you sure?"} %> </br>
	<%end%>

<%end%>

<br><%=link_to 'Create Board', new_user_board_path(current_user)%>


