<h1>Welcome to Your Boards!</h1>
<p>Creator:<%=current_user.email%> </p>
<% boardnumber=0%>
<br>Name of the Board </br>
<br><h2>Private</h2></br>
<% @boards_private .each do |board| %>
	<%boardnumber+=1%>
	<br><%=board.name%></br>

	<%=link_to 'Show', user_board_path(current_user,board.id) %>
	<%=link_to 'Edit', edit_user_board_path(current_user, board.id)%>
	<%=link_to 'Delete', user_board_path(current_user,board.id), method: :delete, data: {confirm:"Do you really want to delete Board?"} %> </br>
	<%end%>

<br>Number of the private boards: <%=boardnumber%> </br>
<% public_board_number=0%>


<br><h2>Public</h2></br>
<% @boards_public.each do |board| %>
	<%public_board_number+=1%>
	<br><h3>Creator: <%=@users.find(board.user_id).email%></h3></br>
	<br><%=board.name%></br>

	<%=link_to 'Show', user_board_path(current_user,board.id) %>
	<%if @users.find(board.user_id)==current_user%>
		<%=link_to 'Edit', edit_user_board_path(current_user, board.id)%>
		<%=link_to 'Delete', user_board_path(current_user,board.id), method: :delete, data: {confirm:"Do you really want to delete Board?"} %> </br>

	<%end%>

	<%end%>
<br>Number of the public boards: <%=public_board_number%> </br>
<br>Total Number of the public boards: <%=public_board_number+boardnumber%> </br>
<br><%=link_to 'Create a new Board', new_user_board_path(current_user)%>


