
<h1><%=@board.name%></h1>
<%pinnumber=0%>



<%@pins.each do |pin|%>
	<br><%=pin.title%></br>
	<br><%= link_to image_tag(pin.url, width: "30%", height: "30%"), user_board_pin_path(current_user,@board.id,pin.id) %></br>

	<% if @board.user==current_user %>
		<%=link_to 'EditPin', edit_user_board_pin_path(current_user,@board.id, pin.id)%>,
		<%=link_to 'DeletePin', user_board_pin_path(current_user,@board.id, pin.id), method: :delete, data: {confirm:"Do you really want to delete this Pin?"} %><br>
	<%end%>
<%end%>

<% if @board.user==current_user %>
	<%=link_to 'Create a new Pin', new_user_board_pin_path(current_user,@board.id)%>
<%end%>
	<br><%=link_to 'Boards List', user_boards_path(current_user)%></br>

